.mid_panel_grp{
    /* width:800px;*/
    text-align: center;
}
#product_header{
    text-align: left;
}
#product_panel{
    text-align: right;
}

.right_panel_grp{
    width:300px;
    background-color: black;
}

.left_panel_grp{
    width:300px;
    background-color: black;
}

#menu_bar{
    height: 20px;
}
table{
    border-collapse: collapse;

}
body{

    margin: 0;
    padding: 0;
    margin-top: 20px;
    background-color: black;
    /* overflow: hidden; */
    font-family:verdana;
    font-color: lightgray;
}
